.recommend-friends {
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
@keyframes bottomSwing {
  from {
    opacity: 0.3;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: scale(1.5);
    color: pink;
  }
}
.recommend-friends__title {
  font-size: 12px;
  color: var(--grey-color);
}
.recommend-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: var(--grey-color);
  font-size: 18px;
  animation: bottomSwing 0.6s ease-in-out forwards;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey-color);
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post h5 {
  font-weight: 600;
  margin-bottom: 5px;
}
.open-post h6 {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  margin-right: 5px;
}
.open-post__members__count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0px 5px;
  background-color: var(--grey-color);
}

.open-post__members__status {
  color: #ffb0e0;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
@keyframes hertbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(2);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post__heart .fa-heart:hover {
  will-change: transform;
  animation: hertbeat 1s ease-in-out infinite;
}
.open-post__heart span {
  margin-left: 3px;
}
.open {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.open-post:nth-child(2) {
  border-top: var(--main-border);
}

.open-post__column:last-child {
  margin-top: 10px;
}
