@import "reset.css";
@import "status-bar.css";
@import "variables.css";
@import "login.css";
@import "nav-bar.css";
@import "friends.css";
@import "user-component.css";
@import "bedge.css";
@import "find.css";
@import "more.css";
@import "icon-row.css";
@import "alt-screen-header.css";
@import "settings.css";
@import "chat.css";
@import "no-mobile.css";
body {
  color: #2e363e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: var(--horizontal-space);
}

@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotatecog 1s ease-in-out infinite;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
.main__screen {
  padding: 0px var(--horizontal-space);
}
